.nav-top{
    background-color: rgb(47,47,114)!important;
}

.nav-link{
    color:white !important;
}
.car-img{
    max-height: 35em !important;
}
.carousel {
    height: 100px;
    position: relative;
  }
  
  .carousel-item {
    height: 70%;
  }
  
  .carousel-item img {
    width: 0%;
    height: 0%;
    object-fit: contain;
  }
  
  .carousel-caption {
    display: flex !important;
    justify-content: space-between !important;
    background-color: rgba(82, 77, 77, 0.739) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    bottom: 0 !important;
    padding: 20px !important;
  }

.divisao{
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
    padding:2em !important;
}



.sec-pacotes{
    display: flex !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;

}
.card{
    padding: 1% !important;
    margin: 0% 1% 1% !important;
}
.sec-contato{
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;

}

.caption-left{
    text-align: center!important;

}
img{

}